*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/background.jpg); */
    background-image: url(img/background.jpg);
    /* background-position: center; */
    background-size: 100vw 100vh;
}

.header{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    top: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.logo{
    height: 100%;
}
.logo img{
    height: 100%;
    
}

.now{
    /* font-size: 50%; */
    color: white;
}

.nav-links{
    width: 15%;
    margin-right: 10px;
}

.nav-links ul{
    display: flex;
    display: -webkit-flex;
}

.nav-links img{
    width: 50%;
}

.nav-links li{
    display: flex;
    display: -webkit-flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.section{
    display: flex;
    display: -webkit-flex;
    width: 100vw;
    position: absolute;
    top: 12vh;
}

.menu{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 12%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 88vh;
    overflow-y: scroll;
    background-color: rgba(33, 33, 64, 0.52);
    border: 5px black;
}

.channelGroup{
    height: 40px;
    width: 100%;
    background-color: rgba(33, 33, 64, 0.94);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.menuSelected{
    height: 30px;
    width: 100%;
    border: 3px solid rgb(129, 129, 140);
    background-color: rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.menuSelectedMoving{
    height: 30px;
    width: 100%;
    border: 3px solid rgb(129, 129, 140);
    background-color: rgba(240, 234, 234, 0.78);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.channelGroup p{
    width: 100%;
    font: 25px Arial, sans-serif;
    color:white;
    font-weight: bold;
}

.movies{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 88%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 88vh;
    overflow-y: scroll;
}

.card{
    padding: 5px;
    height: 150px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5%;
    margin: 20px;
    box-sizing: border-box;
}


.channelSelected{
    padding: 5px;
    height: 150px;
    width: 200px;
    border: 5px solid rgb(129, 129, 140);
    background-color: rgba(240, 234, 234, 0.78);
    border-radius: 5%;
    margin: 20px;
    box-sizing: border-box;
}

.card img{
    width: 100%;
    height: 70%;
    border-radius: 5%;
}

.card p{
    font: 15px Arial, sans-serif;
    color:white;
    font-weight: bold;
    width: 100%;
    
}


#log {
    position: fixed;
    bottom: 0;
    width: 100vw;
/*     padding: 10px; */
    height: 40vh;
    color: #02f902;
    font-family: monospace;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    opacity: 0.5;
/*     top: 90vh; */
  }
#log.hide {
    display: none;
  }
#log p {
    margin: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.9;
  }